$primary : hsl(338, 100%, 44%); // #DE0050

$secondary : hsl(209, 100%, 11%); // #001E3A
//$secondary : hsl(46, 91%, 49%); // #F3603B

$tertiary : hsl(42, 98%, 67%); // #FDCB58

$white : hsl(0,0%,100%); // #FFFFFF