body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

@import './variables';
@import './resets';

// Atoms
@import './atoms/Button';

// Molecules

// Organisms

// Layout
@import './layout/Header';
@import './layout/HeaderNotification';

// Templates

// Pages