.menu__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4.9rem;
	padding: 2rem 4rem;
	border-bottom: 1px solid #e5e5e5;
}

.menu__header nav > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4.697rem;
	font-size: 1.3rem;
	font-weight: 500;
}
